body {
  /* المطلوب الأول هنا */
  text-align: center;
  background-size: cover;
}

/* المطلوب الثاني هنا */
nav {
}
.nav-elements {
}

.card {
  /* المطلوب الثالث هنا */
  width: 400px;
  height: 500px;
  background-color: white;
}

img {
  /* المطلوب الرابع هنا */
  width: 120px;
  height: 120px;
  margin-top: 20px;
}

.hobbies {
  /* المطلوب السادس هنا */
}

.center {
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}
