html, body{
    margin: 0;
    height: 100%;
}

/* من الخواص التي يجب تغيرها لكي تصل للمطلوب
    1. لون الخلفيه
    2. الطول والعرض
    3. الهوامش
    4. الحواشي
    5. نوع العرض
    6. border radius */

/* عند الحاجه w3schools قم بالاستعانه بموقع  */

.sidebar{
    /* pxالعرض هنا يجب ان يكون 120 */
}

.header{
    /* pxالطول هنا يجب ان يكون 80 */
}

.main{

}

a{
    color: darkgray;
    /* اجعل شكل اللنك من غير خط اسفل الكلام */
}

/* !بــونص */
/* (hover) اجعل اللنك يتغير لونه الى الابيض عند التأشير عليه */
/* (p) غير محاذاة الفقرات لتصبح بالوسط */



h1{
    margin: 0;
    margin-right: 5px;
}

h2{
    margin: 0;
    margin-left: 5px;
}

